 .btn{
    border: none;
    padding: 10px 16px;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: 0.3s;
  }

  .btngreen{
    background: #4CAF50;
  }

  .btngreen:hover{
    background: #45a049;
  }

  .btnred{
    background: crimson;
  }

  .btnred:hover{
    background: darkred;
  }

  .btnblue{
    background: dodgerblue;
  }

  .btnblue:hover{
    background: #0066cc;
  }

  .btnprint{
    background: #0014cc;
    color: white;
    margin-top: 20px;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    border: none;
    font-weight: bold;
  }

  .btnprint:hover{
    background: #00992e;
    transition: 2s;

  }